.chart-container {
    background: white;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid var(--light-gray);
    max-width: 70%;
    width: 70%;
    margin: 20px 0;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
  }
  
  .chart-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .filter-dropdown {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
  }
  