

.scroll {
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

/* Table Container */
.customer-table-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 1px solid var(--light-gray);
  margin: 1rem 2rem;
  border-radius: 10px;
  margin-top: 1rem;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Table Headers */
.customer-table-header {
  padding: 1rem;
  text-align: center;
  font-size: 14px;
  font-weight: 250;
  background-color: var(--dark-black);
  color: var(--mid-gray);
  border-bottom: 2px solid var(--light-gray);
}

.customer-table-header:first-child {
  border-radius: 10px 0 0 0 ;
}
.customer-table-header:nth-child(5) {
  border-radius: 0 10px 0 0  !important;
}

/* Table Rows */
.customer-table-row {
  display: contents;
}

.customer-table-row:nth-child(odd) .customer-table-cell {
  background-color: #f9f9f9; 
}

.customer-table-row:nth-child(even) .customer-table-cell {
  background-color: #f0f0f0; 
}


/* Table Cells */
.customer-table-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--dark-gray);
  padding: 15px;
  font-weight: 300;
  font-size: 12px;
  /* border-bottom: 1px solid var(--light-gray); */
}
.search-con{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 2rem;
}
.search-con  select {
  color: var(--dark-gray);
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1;
  min-width: 140px;
  padding: 10px 5px;
}

.search-con .search {
  width: 100% ;
  padding: 10px 1rem;
  margin: 10px 0;
  outline: none;
  border: none;
  background-color: #f3f3f3;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid var(--mid-gray);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  color: var(--dark-gray);
  font-weight: 300 !important;
}

.search-con .search::placeholder{
  color: #aaa;
  font-weight: 300;
}
.no-res{
  color: var(--red-light);
}
