.dash{
    height: 100vh;
    max-width: 300px;
    min-width: 300px;
    background-color: var(--dark-black);
    padding: 1rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column; /* Ensures vertical stacking */
}
.dash header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.dash header div:nth-child(1){
    display: flex;
    align-items: center;
}
.dash header div:nth-child(1) h4{
    font-size: 20px;
    color: #aaa;
    margin: 0 0 0 1rem;
    font-weight: 200;
}
.dash header img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 5px;
}

.dash main{
    margin-top: 4rem;
    color: #aaa;
}
.dash main .options{
    margin: 1rem 0;
}
.selected{
    background-color: var(--light-black);
    color: #5a9ddc;
}
.dash main .option .item-tag-red{
    padding:4px 10px;
    background-color: var(--red-light);
    margin: 0;
    margin-left: auto;
    border-radius: 5px ;
}
.dash main .option .item-tag-green{
    padding:4px 10px;
    background-color: var(--green-light-2);
    margin: 0;
    margin-left: auto;
    border-radius: 5px;
}
.dash main .option .item-tag-red p, .dash footer .option .item-tag-red p{
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: var(--red-dark);
}
.dash main .option .item-tag-green p, .dash footer .option .item-tag-green p{
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: var(--green-success);
}
.dash main .option, .dash footer .option{
    padding: 12px 1rem;
    padding-right: 10px;
    margin-top: 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.1s;
}
.dash main .option:hover{
    background-color: var(--light-black);
}
.dash main .option h4, .dash footer .option h4{
    font-size: 16px;
    margin: 0;
    font-weight: 250;
    margin-left: 10px;
}
.dash main .sub-title-text{
    font-weight: 300;
    font-size: 20px;
    margin: 0 0 0 10px;
    color: #aaa;
}

.dash footer {
    color: #aaa; 
    margin-top: auto;
}
.dash footer .option:hover{
    background-color: var(--light-black);
}
.dash footer div h4{
    padding: 0;
    margin: 0; 
    margin-left: 10px;
}
