.transaction-container {
    width: 100%;
    /* padding: 0 2rem; */

  }
  
  .filters {
    /* max-width: 900px; */
    display: flex;
    margin-bottom: 10px;
  }
  .head{
    padding: 1rem;
    height: 120px;
  }
  
  .filters input {
    min-width: 80px;
    outline: none;
    padding: 8px;
    border: 1px solid #ccc;
    color: var(--dark-gray);
    border-radius: 5px;
    flex: 1;
  }
  .filters select {
    color: var(--dark-gray);
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
  }

  
  .transaction-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    padding: 10px;
    /* border: 1px solid var(--mid-gray); */
    border-top: none;
  }
  
  .transaction-header {
    background-color:#7697a0;
    background-color:var(--dark-black);
    font-weight: 300;
    font-size: 14px;
    padding: 1rem;
    color: #ccc;
    font-weight: 300;
    text-align: center;
    border-radius: 10px 10px 0 0 ;
    margin: 0 2rem;
  }
  
  .transaction-row {
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    margin: 0 2rem;
    color: var(--dark-gray);
  }
  
  .transaction-row:last-child {
    border-radius: 0 0 10px 10px ;
    margin-bottom: 3rem;
  }
  
  .transaction-row:nth-child(odd)  {
    background-color: #f9f9f9; 
  }
  
  .transaction-row:nth-child(even)  {
    background-color: #f0f0f0; 
  }
  
  .no-results {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    color: #888;
  }

  /* For WebKit-based browsers (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.success-txs{
    font-size: 12px;
    color: var(--green-success);
    background-color: var(--light-green);;
    width: 80px;
    margin: 0;
    padding: 5px 10px;
    border-radius: 10px;
}
.fail-txs{
    font-size: 12px;
    color: var(--red-dark);
    background-color: var(--red-light-2);;
    width: 80px;
    margin: 0;
    padding: 5px 10px;
    border-radius: 10px;
}
.refund-txs{
    font-size: 12px;
    color: rgb(255, 153, 0);
    background-color: var(--light-yellow);
    width: 80px;
    margin: 0;
    padding: 5px 10px;
    border-radius: 10px;
}
.fixed-pos-bottom{
    position: sticky;
    width: 100%;
    bottom: 0;
}
.pagination{
    padding: 2rem;
    background-color: #fff;
}
.page-no{
  font-weight: 350;
  font-size: 13px;
  color:
    var(--dark-gray);
}
.pagination .page-input{
  padding: 8px 5px;
  outline: none;
  width: 100px;
  border: 1px solid var(--mid-gray) !important;
  border-radius: 5px;
  text-align: center;
}

.download-btn{
  cursor: pointer;
  transition: all 0.2s;
}
.download-btn:hover{
  color: var(--blue-success);
  transform: scale(1.1);
}

  
  