.question-div {
    border: 1px solid #ccc;
    padding: 2rem;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    max-height: 400px;
    background-color: var(--gray-color-3);
}

.question-div.expanded {
    max-height: 600px;
}

.question-div h1 {
    margin: 0;
    font-weight: 400;
    font-size: 26px;
    color: var(--blue-dark);
}

.question-div p {
    font-size: 16px;
    font-weight: 350;
    color: var(--gray-color-2);
}

.expanded-content {
    opacity: 0;
    max-height: 0;
    transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

.question-div.expanded .expanded-content {
    opacity: 1;
    max-height: 500px;
}

.btn-con {
    text-align: center;
    margin-top: 10px;
}


@media (max-width: 576px) {
    .question-div {
        max-height: 450px;
        padding: 1rem !important;
    }
}
@media (max-width: 768px) {
    .question-div {
        margin: 0 !important;
        padding: 1.5rem;
    }
    .question-div h1 {
        font-size: 22px !important;
    }
}

@media (max-width: 900px) {
    .question-div {
        margin: 1rem;
        padding: 1.5rem;
    }   
    .question-div h1 {
        font-size: 24px;
    }
    .question-div p {
        font-size: 16px;
    }
}
