.faq1-con{
    background-color: var(--gray-color-4);
}
.faq1{
    padding: 5rem 2rem;  

}
.faq1 .ques-con{
    padding: 2rem 0;  
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 1rem 10rem;
    
}
.faq1 h1{
    color: var(--gray-color-2);
    padding: 0;
    margin: 0;
    font-size: 86px;
    font-weight: 400;
}
.faq1 p{
    padding: 0;
    margin-top:1rem ;
    font-size: var(--title5);   
    color: var(--gray-color-1);
    font-weight: 220;
}
.question{
    display: flex;
    flex-direction: column;
    padding: 1rem 0 ;
}
.question h3{
    color: var(--blue-dark);
    font-size: var(--large-text);   
    margin: 5px;
    font-weight: 400;
}

.question p{
    color: var(--gray-color-1);
    font-weight: 350;
    font-size: var(--small-text);   
    margin: 10px 5px ;
}


@media (max-width: 767px) {
    .faq1 .ques-con{
        grid-template-columns: repeat(1,1fr);
        grid-gap: 1rem;
    }
    .faq1 h1{
        font-size: 56px;
    }
    .faq1{
        padding: 1rem;  
    }
    .question{
        border-top: 1px solid var(--gray-color-5);
        padding: 1rem 0 ;
    }
}
/* Laptops and small desktops */
@media (min-width: 767px) and (max-width: 1199px) {
    .faq1 .ques-con{
        grid-template-columns: repeat(2,1fr);
    }
    .faq1 h1{
        font-size: 66px;
    }
    .faq1{
        padding: 2rem;  
    }
}