.recent-orders{
    width: 100%;
    padding: 15px;
    border: 1px solid var(--light-gray);
    border-radius: 10px;
}
.recent-orders header{
    height: 40px;
    padding:  1rem 0;
    /* border: none !important; */
}
.recent-orders main{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.recent-orders main .flag{
    color: var(--text-color);
    font-weight: 350;
}
.blue-color{
    color: #0c7dfd !important;
    font-weight: 350 !important;
    cursor: pointer;
}
.pending{
    padding: 5px 10px;
    font-size: 12px !important;
    margin: 0 !important;
    margin-top: -8px !important;
    text-align: center;
    max-width: 80px;
    border-radius: 10px;
    color: #fe9b4f !important;
    background-color: rgb(255, 255, 176);
    font-weight: 300 !important;
}
.success{
    padding: 5px 10px;
    font-size: 12px !important;
    margin: 0 !important;
    margin-top: 10px !important;
    text-align: center;
    max-width: 80px;
    border-radius: 10px;
    color: var(--green-success) !important;
    background-color:var(--light-green);
    font-weight: 300 !important;
}
.error{
    padding: 5px 10px;
    font-size: 12px !important;
    margin: 0 !important;
    margin-top: 10px !important;
    text-align: center;
    max-width: 80px;
    border-radius: 10px;
    color: var(--red-dark) !important;
    background-color:var(--red-light-2) !important;
    font-weight: 200 !important;
}