.faq-client-container {
    max-width: 600px;
    margin: 40px auto;
    text-align: center;
  }
  
  .faq-client-title {
    margin: 2rem 0;
    font-size: 96px;
    color: var(--gray-color-2);
  }
  
  .faq-client-subtitle {
    color: #777;
    margin-bottom: 20px;
  }
  
  .faq-client-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .faq-client-item {
    background: var(--gray-color-3);
    border: 1px solid var(--gray-color-5);
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .faq-client-item:hover {
    background: var(--gray-color-5);
  }
  
  .faq-client-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 350;
    font-size: var(--regular-text);
    color: var(--blue-darker) ;
  }
  
  .faq-client-answer-container {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-in-out;
  }
  
  .faq-client-answer {
    margin-top: 10px;
    color: var(--gray-color-1);
    text-align: left;
    line-height: 20px;
    padding-top: 10px;
  }
.faq-client-container button{
    margin-top: 2rem;
}

@media (max-width: 768px) {
  .faq-client-container {
    padding: 1rem;
  }
  .faq-client-question {
    font-size: 17px;
    font-weight: 450;
  }
  .faq-client-answer {
    font-size: 14px;
    line-height: 18px;
  }
  .faq-client-title {
    font-size: 70px;
  }
}

  