:root {
    --light-black:#343434;
    --dark-black:#191919;
    --red-light: #5b0909ab;
    --green-light-2:rgb(31, 67, 41);
    --red-dark: #e00303;

    --green-success: #50c878;
    --blue-success: #50a2c8;
    
    --light-green: #e0ffea;
    --light-blue: #ddfeff;
    --light-yellow: #fff6c9;

    --light-gray: #eee;
    --mid-gray: #ddd;
    --dark-gray: #828282;
    --red-light-2: #fde8e8;

    --text-color-dark: #555;
    --text-color-darker: #333;
}