.flex{
    display: flex;
}
.flex-center-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-row-even{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.width-100{
    width: 100%;
}
.max-width{
    max-width:1500px;
    margin: auto;
}
.gap-1{
    gap:1rem
}
.gap-2{
    gap:2rem
}
.gap-3{
    gap:3rem
}
.mgt-5px{
    margin-top: 5px !important;
}
.mgt-1{
    margin-top: 1rem !important;
}
.mgt-1-5{
    margin-top: 1.5rem !important;
}
.mgt-2{
    margin-top: 2rem !important;
}
.mgt-3{
    margin-top: 3rem !important;
}
.mg-auto-top{
    margin-top: auto;
}

.mgl-1{
    margin-left: 1rem !important;
}
.mgl-1-5{
    margin-left: 1.5rem !important;
}
.mgl-2{
    margin-left: 2rem !important;
}
.mgl-3{
    margin-left: 3rem !important;
}
.mg-auto-left{
    margin-left: auto;
}

.mgb-1{
    margin-bottom: 1rem !important;
}
.mgb-1-5{
    margin-bottom: 1.5rem !important;
}
.mgb-2{
    margin-bottom: 2rem !important;
}
.mgb-3{
    margin-bottom: 3rem !important;
}
.mg-auto-bottom{
    margin-bottom: auto;
}
.mgr-1{
    margin-right: 1rem !important;
}
.mgr-1-5{
    margin-right: 1.5rem !important;
}
.mgr-2{
    margin-right: 2rem !important;
}
.mgr-3{
    margin-right: 3rem !important;
}
.mg-auto-right{
    margin-right: auto;
}
.mgl-5px{
    margin-left: 5px;
}
.pdb-1{
    padding-bottom:1rem ;
}
.h3-mid{
    margin: 0;
    font-weight: 400;
    font-size: 22px;
    color: var(--text-color-dark);
}
.h4-mid{
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    color: var(--text-color-dark);
}
.h5-mid{
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    color: var(--text-color-dark);
}
.h1-large{
    margin: 0;
    font-weight: 500;
    font-size: 28px;
    color: var(--text-color-darker);
}
.p-small{
    padding: 0;
    margin: 0;
    color: var(--text-color-dark) !important;
    font-size: 12px !important;
}
.outline{
    padding: 7px 10px;
    border-radius:5px ;
    min-width: 80px;
    border: 1px solid var(--mid-gray);
}

.btn-outline{
    cursor: pointer;
    padding:  8px 15px;
    border-radius: 5px;
    border: 1px solid var(--mid-gray);
    background-color:transparent;
    min-width: 100px;
    color: var(--dark-gray);
}
.btn-Fill{
    color: var(--light-gray);
    background-color:var(--light-black);
}
.fixed-pos{
    width: 100%;
    top: 0;
    background-color: #fff;
    position: sticky;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}