.split{
  display: flex;
  width: 100%;
}
.admin-container {
  width: 100%;
  font-family: Arial, sans-serif;
  overflow-y: auto;
  max-height: 100vh;
}

/* Button styling */
.add-project-btn {
  background: #5c67f2;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  min-width: 100px;
}

/* Project Card */
.project-card {
  border: 1px solid #e0e0e0;
  padding: 15px 26px;
  margin-top: 20px;
  border-radius: 8px;
  background: #fff;
  position: relative;
  width: 98%;
  /* box-sizing: border-box; */
  margin: 2rem auto;
}

/* Editable input fields */
.project-card input,
.project-card textarea {
  width: 50% !important;
  display: block;
  font-size: 14px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  font-weight: 400;
}

/* Features List */
.feature-container {
  /* display: flex; */
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}
.feature-input-con{
  display: flex;
  align-items: baseline !important;
  margin-top: 10px;
}
.feature-input-con button{
  margin-left: 1rem ;
  padding: 10px;
  min-width: 100px !important;
  cursor: pointer;
}

.feature-badge {
  background: #f5f5f5;
  padding: 8px 14px;
  border-radius: 15px;
  margin-right: 10px;
  margin-top: 7px;
  font-size: 12px;
  display: inline-flex;
  align-items: center;
}
.delete-trash{
  color: var(--red-color-1);
  margin-right: 5px;
  cursor: pointer;
}

/* Images */
.textarea-modal{
  max-width: 100%;
  min-width: 100%;
  max-height: 150px;
  min-height: 150px;
}
.project-images {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.project-images img {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  object-fit: cover;
  border: 1px solid #ccc;
}
.feature-con-modal{
  margin: 1rem 0;
}

/* Image upload button */
.upload-placeholder {
  width: 80px;
  height: 80px;
  border: 1px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #aaa;
  cursor: pointer;
  border-radius: 5px;
}

/* Edit and Delete Icons */
.project-actions {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
}
.project-actions svg{
  cursor: pointer;
}

.project-actions img {
  width: 20px;
  cursor: pointer;
  opacity: 0.7;
}

.project-actions img:hover {
  opacity: 1;
}

/* Modal Styling */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 600px;
  max-width: 90%;
}

.modal input,
.modal textarea {
  width: 100%;
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal button {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.modal .save-btn {
  background: #5c67f2;
  color: white;
  border-radius: 5px;
}

.modal .cancel-btn {
  background: #ddd;
  border-radius: 5px;
  margin-left: 10px;
}

/* Error Messages */
.error {
  color: red;
  font-size: 12px;
}
.search-input {
  border: 1px solid #ddd;
  outline: none;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  color: #6b7280;
  background-color: transparent;
  max-width: 300px;
  border-radius: 7px;
}
.search-con{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.header-projects{
  top: 0;
  left: 0;
  width: 100%;
  position: sticky;
  background-color: #fff;
  z-index: 100;
  padding: 1rem ;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
}
.delete-image-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(245, 94, 94);
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
}
.delete-image-btn:hover {
  width: 25px;
  height: 25px;
}
.admin-container strong{
  color: #999;
  display: block;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 4px;
}
.admin-container p{
  color: #333;
  display: block;
  font-weight: 350;
  font-size: 15px;
  margin-bottom: 4px;
}
.admin-container h4{
  font-weight: 400;
  font-size: 17px;
  margin: 12px 0 ;
}
.admin-container h3{
  font-weight: 500;
  font-size: 24px;
  color: #333;
}
.img-title{
  border-top: 1px solid #eee;
  padding-top: 10px;
}

input[type="date"]:before{
  color:lightgray;
  content:attr(placeholder);
}

input[type="date"].full:before {
  color:black;
  content:""!important;
}
.btns-con{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #eee;
  padding-top: 1rem;
}

.cancel-btn-2{
  background: #eee;
  color: #333;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 1rem;
  min-width: 100px;
}

.completed{
  width: fit-content;
  max-width: 300px;
  display: flex;
  align-items: center !important;
}
.completed p{
  margin: 0 !important;
}
.completed input{
  margin: 0 !important;
  margin-left: 10px !important;
  border-radius: 50% !important;
  background-color: rgb(245, 128, 128);
  transition: background 0.2s ease-in-out;
}

/* Default checkbox */
input[type="checkbox"] {
  appearance: none; 
}

/* Checkbox when checked */
input[type="checkbox"]:checked {
  background-color: #8affb1 !important; 
  /* border-color: #5c67f2 !important;   */
}
.visit-link{
  text-decoration: underline;
  font-weight: 300;
  color: #0b63c7;
  /* margin: 10px !important; */
}
.center-no-found{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}
.center-no-found h2{
  font-weight: 300;
  color: #888;
}

.row-one{
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}

.desc-list{
  width: 35%;
}


