.banner {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  margin: auto;
  background-color: black !important;
  text-transform: uppercase;
}

.banner h1 {
  margin: 0;
  font-weight: 250;
  /* color: white; */
}

.text-white {
  color: var(--lw-text-color-9) !important;
}

.ranibow-text {
  position: relative;
  color: transparent;
  background-image: linear-gradient(
    270deg,
    #ff0000,
    #ff9900,
    #ffff00,
    #33cc33,
    #3399ff,
    #9900cc,
    #ff0066,
    #ff0000
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  animation: rainbowFlow 2s linear infinite;
  text-align: center;
}
@keyframes rainbowFlow {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}
.banner p {
  margin: 0;
  margin-top: 2rem;
}
.banner2 {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.banner2 h1 {
  margin: 0;
}
.banner2 button {
  border: 1px solid var(--lw-text-color-6);
  color: var(--lw-text-color-9);
}
.banner2 button:hover {
  color: black;
  background-color: var(--lw-text-color-10);
}
@media (max-width: 768px) {
  .banner {
    padding: 3rem 1rem !important;
  }
}
@media (max-width: 1199px) {
  .banner {
    height: auto !important;
    padding: 3rem;
  }
  .banner p {
    line-height: 24px;
  }
  .banner2 h1 {
    text-align: center;
    padding: 0;
  }
  .banner2 {
    /* padding: 1rem; */
    flex-direction: column !important;
    height: auto !important;
    max-height: none !important;
  }
  .banner2 button {
    margin: 1rem 0;
  }
}
